<%= form_for @turma, :html => {:class => 'form-horizontal' } do |f| %>
	<% if @turma.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

			<ul>
				<% @turma.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :horario, :class => 'control-label col-sm-2' %>
		<div class="col-sm-6">
			<%= f.text_field :horario, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :numero, :class => 'control-label col-sm-2' %>
		<div class="col-sm-6">
			<%= f.number_field :numero, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :disciplina_id, :class => 'control-label col-sm-2' %>
		<div class="col-sm-6">
			<%= f.collection_select :disciplina_id, @disc, :id, :nome, {prompt: 'Selecione uma Disciplina'}, {class: 'form-control selectpicker', 'data-live-search': 'true'} %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Cadastrar Turma", :class =>'btn btn-primary' %>
		</div>
	</div>
	<% end %>
