<%= form_for @curso , html: {class: "pure-form pure-form-stacked"} do |f| %>
	<% if @curso.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

			<ul>
				<% @curso.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="pure-control-group">
		<%= f.label :nome %>
		<%= f.text_field :nome %>
	</div>
	<div class="pure-control-group">
		<%= f.label :grau %>
		<%= f.text_field :grau %>
	</div>
	<div class="actions">
		<%= f.submit :class => "pure-button"%>
	</div>
<% end %>
