<%= form_for(@pre_requisito) do |f| %>
  <% if @pre_requisito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_requisito.errors.count, "error") %> prohibited this pre_requisito from being saved:</h2>

      <ul>
      <% @pre_requisito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disciplina_id %><br>
    <%= f.number_field :disciplina_id %>
  </div>
  <div class="field">
    <%= f.label :pre_requisito_id %><br>
    <%= f.number_field :pre_requisito_id %>
  </div>
  <div class="field">
    <%= f.label :create %><br>
    <%= f.text_field :create %>
  </div>
  <div class="field">
    <%= f.label :destroy %><br>
    <%= f.text_field :destroy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
