<p id="notice"><%= notice %></p>

<h1>Listing Pre Requisitos</h1>

<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Pre requisito</th>
      <th>Create</th>
      <th>Destroy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_requisitos.each do |pre_requisito| %>
      <tr>
        <td><%= pre_requisito.disciplina_id %></td>
        <td><%= pre_requisito.pre_requisito_id %></td>
        <td><%= link_to 'Show', pre_requisito %></td>
        <td><%= link_to 'Edit', edit_pre_requisito_path(pre_requisito) %></td>
        <td><%= link_to 'Destroy', pre_requisito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre requisito', new_pre_requisito_path %>
