<p id="notice"><%= notice %></p>

<p>
  <strong>Disciplina:</strong>
  <%= @pre_requisito.disciplina_id %>
</p>

<p>
  <strong>Pre requisito:</strong>
  <%= @pre_requisito.pre_requisito_id %>
</p>

<p>
  <strong>Create:</strong>
  <%= @pre_requisito.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @pre_requisito.destroy %>
</p>

<%= link_to 'Edit', edit_pre_requisito_path(@pre_requisito) %> |
<%= link_to 'Back', pre_requisitos_path %>
