<%= form_for @restricao, :html => {:class => 'form-horizontal' } do |f| %>

	<div class="form-group">

		<p>Restrições de horários</p>

		<div>
			<%= f.fields_for :horarios do |horario| %>
				<%= render 'horario', f: horario%>
			<% end %>
		</div>
		<div>
			<%= f.fields_for :disciplinas do |disciplina| %>
				<%= render 'disciplina_fields', f: disciplina%>
			<% end %>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= link_to_add_association 'Adiciona Horario', f, :horarios, force_non_association_create: true, class: 'btn btn-default', 'data-association-insertion-node': '.nested-fields' %>
			<%= link_to_add_association 'Adiciona Disciplina', f, :disciplinas, force_non_association_create: true, class: 'btn btn-default', 'data-association-insertion-node': '.nested-fields' %>
			<%= submit_tag 'Gerar Grade', :class =>'btn btn-primary' %>
		</div>
	</div>

<% end %>
